@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #09080d;
  width: 100%;
}

p, 
h1,
ul,
a {
  color: white;
  @apply text-lg;
  @apply py-2
}

a, button {
  text-decoration: underline;
}

code {
  background-color: rgba(249, 249, 249, 0.3);
  font-family: monospace;
}