@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #09080d;
  width: 100%;
}

p, 
h1,
ul,
a {
  color: white;
  @apply text-lg;
  @apply py-2
}

a {
  text-decoration: underline;
}
